$grey: #ddd;
$white: #fff;

// greys
$off-white: #f7f7f7;
$paper: #f5f5f5;
$app-grey-light: #fcfcfc;
$app-grey-lighter: #ebebeb;
$app-grey-light-font: #D9D9D9;
$app-grey-font: #5B5B5B;
$app-grey-dark: #424B54;

// colors
$app-green: #06D6A0;
$app-blue: #5C9EAD;
$app-yellow: #F6BD60;
$app-primary: #FF6F6F;
$app-special-white: #EFF1ED;
$app-special-grey: #383F51;
$app-status-red: #EB5E55;

$box-shadow: 0 0 5px 0 $grey;
