.ge-logo-wrapper {
	width: 110px;
	margin-bottom: 50px;
}

.ge-landing-page {
	display: flex;
	flex-basis: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 500px;
	}
}

.ge-helper-text {
	width: 100%;
	font-size: map_get($font-sizes, 'xs');
	color: $app-grey-light-font;
	padding: 10px;
}
